[submodule ".registry"]
	path = .registry
	url = https://github.com/predictiveecology/universe
	shallow = true
	branch = HEAD
[submodule "amc"]
	path = amc
	url = https://github.com/achubaty/amc
	shallow = true
	branch = development
	registered = true
[submodule "CBMutils"]
	path = CBMutils
	url = https://github.com/PredictiveEcology/CBMutils
	shallow = true
	branch = development
	registered = true
[submodule "fastshp"]
	path = fastshp
	url = https://github.com/s-u/fastshp
	shallow = true
	registered = true
[submodule "fireSenseUtils"]
	path = fireSenseUtils
	url = https://github.com/PredictiveEcology/fireSenseUtils
	shallow = true
	branch = development
	registered = true
[submodule "LandR"]
	path = LandR
	url = https://github.com/PredictiveEcology/LandR
	shallow = true
	branch = development
	registered = true
[submodule "LandWebUtils"]
	path = LandWebUtils
	url = https://github.com/PredictiveEcology/LandWebUtils
	shallow = true
	branch = development
	registered = true
[submodule "NetLogoR"]
	path = NetLogoR
	url = https://github.com/PredictiveEcology/NetLogoR
	shallow = true
	branch = development
	registered = true
[submodule "NLMR"]
	path = NLMR
	url = https://github.com/ropensci/NLMR
	shallow = true
	registered = true
[submodule "map"]
	path = map
	url = https://github.com/PredictiveEcology/map
	shallow = true
	branch = development
	registered = true
[submodule "pemisc"]
	path = pemisc
	url = https://github.com/PredictiveEcology/pemisc
	shallow = true
	branch = development
	registered = true
[submodule "peutils"]
	path = peutils
	url = https://github.com/PredictiveEcology/peutils
	shallow = true
	branch = development
	registered = true
[submodule "quickPlot"]
	path = quickPlot
	url = https://github.com/PredictiveEcology/quickPlot
	shallow = true
	branch = development
	registered = true
[submodule "RandomFields"]
	path = RandomFields
	url = https://github.com/cran/RandomFields
	shallow = true
	registered = true
[submodule "RandomFieldsUtils"]
	path = RandomFieldsUtils
	url = https://github.com/cran/RandomFieldsUtils
	shallow = true
	registered = true
[submodule "Require"]
	path = Require
	url = https://github.com/PredictiveEcology/Require
	shallow = true
	branch = development
	registered = true
[submodule "reproducible"]
	path = reproducible
	url = https://github.com/PredictiveEcology/reproducible
	shallow = true
	branch = development
	registered = true
[submodule "SpaDES.addins"]
	path = SpaDES.addins
	url = https://github.com/PredictiveEcology/SpaDES.addins
	shallow = true
	branch = development
	registered = true
[submodule "SpaDES.core"]
	path = SpaDES.core
	url = https://github.com/PredictiveEcology/SpaDES.core
	shallow = true
	branch = development
	registered = true
[submodule "SpaDES.experiment"]
	path = SpaDES.experiment
	url = https://github.com/PredictiveEcology/SpaDES.experiment
	shallow = true
	branch = development
	registered = true
[submodule "SpaDES.project"]
	path = SpaDES.project
	url = https://github.com/PredictiveEcology/SpaDES.project
	shallow = true
	branch = transition
	registered = true
[submodule "SpaDES.shiny"]
	path = SpaDES.shiny
	url = https://github.com/PredictiveEcology/SpaDES.shiny
	shallow = true
	branch = development
	registered = true
[submodule "SpaDES.tools"]
	path = SpaDES.tools
	url = https://github.com/PredictiveEcology/SpaDES.tools
	shallow = true
	branch = development
	registered = true
[submodule "usefulFuns"]
	path = usefulFuns
	url = https://github.com/PredictiveEcology/usefulFuns
	shallow = true
	branch = development
	registered = true
[submodule "visualTest"]
	path = visualTest
	url = https://github.com/MangoTheCat/visualTest
	shallow = true
	registered = true
[submodule "SpaDES.config"]
	path = SpaDES.config
	url = https://github.com/PredictiveEcology/SpaDES.config
	shallow = true
	branch = development
	registered = false
[submodule "gdalUtils"]
	path = gdalUtils
	url = https://github.com/gearslaboratory/gdalUtils
	shallow = true
	registered = false
[submodule "googleID"]
	path = googleID
	url = https://github.com/MarkEdmondson1234/googleID
	shallow = true
	registered = false
[submodule "terra"]
	path = terra
	url = https://github.com/rspatial/terra
	shallow = true
	branch = 6a3ea837be88de5a66cd0577c6d79c1091562547
	registered = false
[submodule "tiler"]
	path = tiler
	url = https://github.com/ropensci/tiler
	shallow = true
	registered = false
