[submodule ".registry"]
	path = .registry
	url = https://github.com/predictiveecology/predictiveecology.r-universe.dev
	branch = HEAD
[submodule "BioSIM"]
	path = BioSIM
	url = https://github.com/RNCan/BioSimClient_R
[submodule "CBMutils"]
	path = CBMutils
	url = https://github.com/PredictiveEcology/CBMutils
	branch = development
[submodule "J4R"]
	path = J4R
	url = https://github.com/CWFC-CCFB/J4R
[submodule "LandR"]
	path = LandR
	url = https://github.com/PredictiveEcology/LandR
	branch = development
[submodule "LandR.CS"]
	path = LandR.CS
	url = https://github.com/ianmseddy/LandR.CS
	branch = development
[submodule "LandWebUtils"]
	path = LandWebUtils
	url = https://github.com/PredictiveEcology/LandWebUtils
	branch = development
[submodule "NLMR"]
	path = NLMR
	url = https://github.com/ropensci/NLMR
[submodule "NetLogoR"]
	path = NetLogoR
	url = https://github.com/PredictiveEcology/NetLogoR
	branch = development
[submodule "PSPclean"]
	path = PSPclean
	url = https://github.com/ianmseddy/PSPclean
	branch = development
[submodule "RandomFields"]
	path = RandomFields
	url = https://github.com/cran/RandomFields
[submodule "RandomFieldsUtils"]
	path = RandomFieldsUtils
	url = https://github.com/cran/RandomFieldsUtils
[submodule "Require"]
	path = Require
	url = https://github.com/PredictiveEcology/Require
	branch = development
[submodule "SDMTools"]
	path = SDMTools
	url = https://github.com/cran/SDMTools
[submodule "SpaDES"]
	path = SpaDES
	url = https://github.com/PredictiveEcology/SpaDES
	branch = development
[submodule "SpaDES.addins"]
	path = SpaDES.addins
	url = https://github.com/PredictiveEcology/SpaDES.addins
	branch = development
[submodule "SpaDES.config"]
	path = SpaDES.config
	url = https://github.com/PredictiveEcology/SpaDES.config
	branch = development
	registered = false
[submodule "SpaDES.core"]
	path = SpaDES.core
	url = https://github.com/PredictiveEcology/SpaDES.core
	branch = development
[submodule "SpaDES.experiment"]
	path = SpaDES.experiment
	url = https://github.com/PredictiveEcology/SpaDES.experiment
	branch = development
[submodule "SpaDES.project"]
	path = SpaDES.project
	url = https://github.com/PredictiveEcology/SpaDES.project
	branch = development
[submodule "SpaDES.shiny"]
	path = SpaDES.shiny
	url = https://github.com/PredictiveEcology/SpaDES.shiny
	branch = development
[submodule "SpaDES.tools"]
	path = SpaDES.tools
	url = https://github.com/PredictiveEcology/SpaDES.tools
	branch = development
[submodule "amc"]
	path = amc
	url = https://github.com/achubaty/amc
	branch = development
[submodule "biomod2"]
	path = biomod2
	url = https://github.com/CeresBarros/biomod2
	branch = dev_currentCeres
	registered = false
[submodule "clusters"]
	path = clusters
	url = https://github.com/PredictiveEcology/clusters
	registered = false
[submodule "fastshp"]
	path = fastshp
	url = https://github.com/s-u/fastshp
[submodule "fireSenseUtils"]
	path = fireSenseUtils
	url = https://github.com/PredictiveEcology/fireSenseUtils
	branch = development
[submodule "gdalUtils"]
	path = gdalUtils
	url = https://github.com/gearslaboratory/gdalUtils
	registered = false
[submodule "geodata"]
	path = geodata
	url = https://github.com/rspatial/geodata
[submodule "ggplot2"]
	path = ggplot2
	url = https://github.com/tidyverse/ggplot2
	registered = false
[submodule "googleID"]
	path = googleID
	url = https://github.com/MarkEdmondson1234/googleID
	registered = false
[submodule "libcbmr"]
	path = libcbmr
	url = https://github.com/PredictiveEcology/libcbmr
[submodule "lintr"]
	path = lintr
	url = https://github.com/jimhester/lintr
	registered = false
[submodule "map"]
	path = map
	url = https://github.com/PredictiveEcology/map
	branch = development
[submodule "mpbutils"]
	path = mpbutils
	url = https://github.com/PredictiveEcology/mpbutils
[submodule "pedev"]
	path = pedev
	url = https://github.com/PredictiveEcology/pedev
	branch = development
[submodule "pemisc"]
	path = pemisc
	url = https://github.com/PredictiveEcology/pemisc
	branch = development
[submodule "peutils"]
	path = peutils
	url = https://github.com/PredictiveEcology/peutils
	branch = development
[submodule "quickPlot"]
	path = quickPlot
	url = https://github.com/PredictiveEcology/quickPlot
	branch = development
[submodule "reproducible"]
	path = reproducible
	url = https://github.com/PredictiveEcology/reproducible
	branch = development
[submodule "rgdal"]
	path = rgdal
	url = https://github.com/cran/rgdal
[submodule "rgeos"]
	path = rgeos
	url = https://github.com/cran/rgeos
[submodule "scfmutils"]
	path = scfmutils
	url = https://github.com/PredictiveEcology/scfmutils
	branch = development
[submodule "stringfish"]
	path = stringfish
	url = https://github.com/traversc/stringfish
	registered = false
[submodule "testthat"]
	path = testthat
	url = https://github.com/r-lib/testthat
	registered = false
[submodule "tiler"]
	path = tiler
	url = https://github.com/ropensci/tiler
	registered = false
[submodule "usefulFuns"]
	path = usefulFuns
	url = https://github.com/PredictiveEcology/usefulFuns
	branch = development
[submodule "visualTest"]
	path = visualTest
	url = https://github.com/MangoTheCat/visualTest
