[submodule ".registry"]
	path = .registry
	url = https://github.com/predictiveecology/universe
	shallow = true
	branch = HEAD
[submodule "amc"]
	path = amc
	url = https://github.com/achubaty/amc
	shallow = true
	branch = development
	registered = true
[submodule "peutils"]
	path = peutils
	url = https://github.com/PredictiveEcology/peutils
	shallow = true
	branch = development
	registered = true
[submodule "Require"]
	path = Require
	url = https://github.com/PredictiveEcology/Require
	shallow = true
	branch = development
	registered = true
[submodule "reproducible"]
	path = reproducible
	url = https://github.com/PredictiveEcology/reproducible
	shallow = true
	branch = development
	registered = true
[submodule "SpaDES.addins"]
	path = SpaDES.addins
	url = https://github.com/PredictiveEcology/SpaDES.addins
	shallow = true
	registered = true
[submodule "SpaDES.core"]
	path = SpaDES.core
	url = https://github.com/PredictiveEcology/SpaDES.core
	shallow = true
	branch = development
	registered = true
[submodule "SpaDES.experiment"]
	path = SpaDES.experiment
	url = https://github.com/PredictiveEcology/SpaDES.experiment
	shallow = true
	registered = true
[submodule "SpaDES.install"]
	path = SpaDES.install
	url = https://github.com/PredictiveEcology/SpaDES.install
	shallow = true
	branch = development
	registered = true
[submodule "SpaDES.project"]
	path = SpaDES.project
	url = https://github.com/PredictiveEcology/SpaDES.project
	shallow = true
	registered = true
[submodule "SpaDES.tools"]
	path = SpaDES.tools
	url = https://github.com/PredictiveEcology/SpaDES.tools
	shallow = true
	branch = development
	registered = true
[submodule "fastshp"]
	path = fastshp
	url = https://github.com/s-u/fastshp
	shallow = true
	registered = true
[submodule "googleID"]
	path = googleID
	url = https://github.com/MarkEdmondson1234/googleID
	shallow = true
	registered = false
[submodule "visualTest"]
	path = visualTest
	url = https://github.com/MangoTheCat/visualTest
	shallow = true
	registered = false
